@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    font-family: 'Roboto Mono', monospace;
    --max-content-width: 1919px;

    --theme-primary: white;
    --theme-inverse: black;
    --theme-inverse-10: rgba(0, 0, 0, 0.1);
    --theme-inverse-20: rgba(0, 0, 0, 0.2);
    --theme-inverse-30: rgba(0, 0, 0, 0.3);
    --theme-inverse-50: rgba(0, 0, 0, 0.5);
    --theme-inverse-70: rgba(0, 0, 0, 0.7);
    --line-color: #727272;
    --footer-bg: #313131;
    --page-bg: white;
    --theme-offcolor: #f2f2f2;
    --theme-app-bg: rgba(255, 255, 255, 0.85);
    --link-color: #007bff;

    color: var(--theme-inverse);

    font-size: min(24px, 1.25vw);
    scroll-behavior: smooth;
}

.dark-theme {
    --theme-primary: black;
    --theme-inverse: white;
    --theme-inverse-10: rgba(255, 255, 255, 0.1);
    --theme-inverse-20: rgba(255, 255, 255, 0.2);
    --theme-inverse-30: rgba(255, 255, 255, 0.3);
    --theme-inverse-50: rgba(255, 255, 255, 0.5);
    --theme-inverse-70: rgba(255, 255, 255, 0.7);
    --line-color: #ffffff;
    --page-bg: #313131;
    --theme-offcolor: #232323;
    --theme-app-bg: rgba(16, 16, 16, 0.95);
    --link-color: #69abff;
}

a {
    color: var(--link-color);
}
hr {
    border-color: var(--theme-inverse);
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 3vw;
    }
}

::-webkit-scrollbar {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    background-color: #f5ffff;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.block {
    display: block;
}

.hidden {
    display: none;
}


.pad-1 {
    padding: 1rem;
}

.pad-2 {
    padding: 2rem;
}

.pad-3 {
    padding: 3rem;
}

.inline-pad-1 {
    padding-inline: 1rem;
}

.inline-pad-2 {
    padding-inline: 2rem;
}

.inline-pad-3 {
    padding-inline: 3rem;
}

.block-pad-1 {
    padding-block: 1rem;
}

.block-pad-2 {
    padding-block: 2rem;
}

.block-pad-3 {
    padding-block: 3rem;
}

.margin-1 {
    margin: 1rem;
}

.margin-2 {
    margin: 2rem;
}

.margin-3 {
    margin: 3rem;
}

.inline-margin-1 {
    margin-inline: 1rem;
}

.inline-margin-2 {
    margin-inline: 2rem;
}

.inline-margin-3 {
    margin-inline: 3rem;
}

.block-margin-1 {
    margin-block: 1rem;
}

.block-margin-2 {
    margin-block: 2rem;
}

.block-margin-3 {
    margin-block: 3rem;
}

.top-pad-1 {
    padding-top: 1rem;
}

.top-pad-2 {
    padding-top: 2rem;
}

.top-pad-3 {
    padding-top: 3rem;
}

.bottom-pad-1 {
    padding-bottom: 1rem;
}

.bottom-pad-2 {
    padding-bottom: 2rem;
}

.bottom-pad-3 {
    padding-bottom: 3rem;
}

.top-margin-1 {
    margin-top: 1rem;
}

.top-margin-2 {
    margin-top: 2rem;
}

.top-margin-3 {
    margin-top: 3rem;
}

.bottom-margin-1 {
    margin-bottom: 1rem;
}

.bottom-margin-2 {
    margin-bottom: 2rem;
}

.bottom-margin-3 {
    margin-bottom: 3rem;
}

.inline-margin-auto {
    margin-inline: auto;
}

.pad-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

.inline-pad-0 {
    padding-inline: 0;
}

.inline-margin-0 {
    margin-inline: 0;
}

.block-pad-0 {
    padding-block: 0;
}

.block-margin-0 {
    margin-block: 0;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.center {
    justify-content: center;
    align-items: center;
}

.cover {
    object-fit: cover;
}

.fill {
    object-fit: fill;
}

.contain {
    object-fit: contain;
}

.overflow-hidden {
    overflow: hidden;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.width-max {
    width: max-content;
}

.height-max {
    height: max-content;
}

.width-min {
    width: min-content;
}

.height-min {
    height: min-content;
}

.width-size-1 {
    width: 1rem;
}

.width-size-2 {
    width: 2rem;
}

.width-size-2-5 {
    width: 2.5rem;
}

.width-size-3 {
    width: 3rem;
}

.width-size-4 {
    width: 4rem;
}

.width-size-5 {
    width: 5rem;
}

.width-size-6 {
    width: 6rem;
}

.width-size-7 {
    width: 7rem;
}

.width-size-8 {
    width: 8rem;
}

.width-size-9 {
    width: 9rem;
}

.width-size-10 {
    width: 10rem;
}

.hover-scale {
    transition: transform 0.2s ease;
}

.hover-scale:hover {
    transform: scale(1.05);
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-negative-1 {
    z-index: -1;
}

.z-index-negative-2 {
    z-index: -2;
}

.z-index-negative-3 {
    z-index: -3;
}

.bg-black {
    background-color: #000000;
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #f5f5f5;
}

.opacity-50 {
    opacity: 0.5;
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.font-size-1 {
    font-size: 1rem;
}

.font-size-1-1 {
    font-size: 1.1rem;
}

.font-size-1-2 {
    font-size: 1.2rem;
}

.font-size-1-3 {
    font-size: 1.3rem;
}

.font-size-1-4 {
    font-size: 1.4rem;
}

.font-size-1-5 {
    font-size: 1.5rem;
}

.font-size-1-6 {
    font-size: 1.6rem;
}

.font-size-1-7 {
    font-size: 1.7rem;
}

.font-size-1-8 {
    font-size: 1.8rem;
}

.font-size-1-9 {
    font-size: 1.9rem;
}

.font-size-2 {
    font-size: 2rem;
}

.font-size-2-1 {
    font-size: 2.1rem;
}

.font-size-2-2 {
    font-size: 2.2rem;
}

.font-size-2-3 {
    font-size: 2.3rem;
}

.font-size-2-4 {
    font-size: 2.4rem;
}

.font-size-2-5 {
    font-size: 2.5rem;
}

.font-size-2-6 {
    font-size: 2.6rem;
}

.font-size-2-7 {
    font-size: 2.7rem;
}

.font-size-2-8 {
    font-size: 2.8rem;
}

.font-size-2-9 {
    font-size: 2.9rem;
}

.font-size-3 {
    font-size: 3rem;
}

.font-size-3-1 {
    font-size: 3.1rem;
}

.font-size-3-2 {
    font-size: 3.2rem;
}

.font-size-3-3 {
    font-size: 3.3rem;
}

.font-size-3-4 {
    font-size: 3.4rem;
}

.font-size-3-5 {
    font-size: 3.5rem;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.black {
    color: #000000;
}

.white {
    color: #ffffff;
}

.border-1 {
    border-width: 0.1rem;
}

.border-2 {
    border-width: 0.2rem;
}

.border-3 {
    border-width: 0.3rem;
}

.border-4 {
    border-width: 0.4rem;
}

.border-5 {
    border-width: 0.5rem;
}

.border-circle {
    border-radius: 50%;
    border-style: solid;
}

.border-white {
    border-color: white;
}

.border-black {
    border-color: black;
}

.letter-spacing-negative-05 {
    letter-spacing: -0.05rem;
}

.aspect-ratio-1-1 {
    aspect-ratio: 1 / 1;
}

.aspect-ratio-16-9 {
    aspect-ratio: 16 / 9;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media screen and (max-width: 768px) {
    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.fade-in-on-screen {
    opacity: 0;
    transition: opacity 1s ease;
}

.show {
    opacity: 1;
}

.no-decoration {
    text-decoration: none;
    color: var(--theme-inverse);
}

.width-clamp {
    max-width: var(--max-content-width);
}

.tooltip {
    position: relative;
    cursor: pointer;
    font-style: italic;
}

.tooltiptext {
    visibility: hidden;
    width: 10rem;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    text-align: center;
    border-radius: 0.2rem;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}